@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Roboto:wght@300;400;700&display=swap');

body {
    background-color: #CDCDCD;
    font-family: 'Roboto', sans-serif
  }
  
  .container {
    display: flex;
    flex-direction: row;
    padding: 200px;
  }
  
  .header {
    margin: 0;
    text-align:center;
    display: inline-block;
    padding: 50px;
  }
  
  .form {
    border-radius: 8px;
    background: #fff;
    width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 15px;
    text-align: center;
  }
  
  input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button {
    width: 30%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    resize: vertical;
    cursor: pointer;
    text-align: center;
  }
  
  .form-content {
    margin: 18px;
  }

  .form__title{
    font-size: em;
  }

  button:hover {
    border: 2px solid #000;
  }

  .form__login-with {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
  }